<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" class="w-full h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-6 text-center">Login</h2>
    <form id="loginForm">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">아이디</span>
        </div>
        <input type="text" id="login-id" name="loginId"
               placeholder="아이디를 입력하세요"
               class="input input-bordered w-full max-w-xs mr-1">
      </label>
      <!-- 비밀번호 -->
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">비밀번호</span>
        </div>
        <input type="password" id="password" name="password"
               placeholder="비밀번호를 입력하세요"
               class="input input-bordered w-full max-w-xs" required>
      </label>
      <div class="flex items-center justify-between mb-6 mt-2">
        <div class="flex items-center">
          <input type="checkbox" id="remember" name="remember"
                 class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
          <label for="remember" class="ml-2 block text-sm text-gray-900">
            로그인 상태 유지
          </label>
        </div>
        <div class="text-sm">
          <a href="#" class="font-medium text-blue-600 hover:text-blue-500">
            비밀번호를 잊으셨나요?
          </a>
        </div>
      </div>
      <div>
        <button type="button"
                id="login-submit-btn"
                class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline">
          로그인
        </button>
      </div>
    </form>
  </div>
  <th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
  </th:block>
</div>
</html>