<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메일전달</title>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <h1>저의 블로그를 방문해주셔서 감사합니다.</h1>
    <p>인증 번호는 <strong th:text="${authCode}"></strong>입니다.</p>
    <p>인증번호를 제대로 입력해주세요.</p>
</div>

</body>
</html>