<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:display="http://www.w3.org/1999/xhtml">
<div layout:fragment="content"
     class="flex justify-center items-center min-h-screen bg-gray-100 content">
  <div class="card w-96 bg-white shadow-xl">
    <div class="card-body">
      <h2 class="text-center text-2xl font-bold mb-3">회원가입</h2>
      <form id="form" th:action="@{/member/signup}" th:object="${memberJoinRequest}"
            th:method="post">
        <!-- 아이디 -->
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">아이디</span>
          </div>
          <div class="flex">
            <input type="text" id="loginId" name="loginId" th:field="*{loginId}" placeholder="아이디를 입력하세요"
                   class="input input-bordered w-full max-w-xs mr-1">
            <button class="btn btn-active" id="duplicateCheck" type="button">중복검사</button>
          </div>
          <p id="idCheck"></p>
          <span id="id-ok" style="color: green; display: none">사용가능한아이디입니다.</span>
          <span id="id-already" style="color: red; display: none">다른아이디를사용해주세요.</span>
        </label>

        <!-- 이름 -->
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">이름</span>
          </div>
          <input type="text" id="realName" name="realName" th:field="*{realName}" placeholder="이름을 입력하세요"
                 class="input input-bordered w-full max-w-xs" required>
          <p id="realNameCheck"></p>
        </label>

        <!-- 이메일 -->
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">이메일</span>
          </div>
          <div class="flex">
            <input type="email" id="email" name="email" th:field="*{email}" placeholder="이메일을 입력하세요"
                   class="input input-bordered w-full max-w-xs mr-1" required>
            <button class="btn btn-active" type="button" id="emailSend">인증번호전송</button>
          </div>
            <p id="emailCheck"></p>
            <p id="emailBlankMassage" style="display: none"></p>
          <div class="mt-3 flex">
            <input type="text" id="code" name="code" placeholder="인증번호 6자리를 입력하세요"
                   class="input input-bordered w-full max-w-xs mr-1" maxlength="6" required>
            <button class="btn btn-active" type="button" id="verification">인증확인</button>
          </div>
            <p id="authCodeCheck"></p>
        </label>

        <!-- 비밀번호 -->
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">비밀번호</span>
          </div>
          <input type="password" id="password" name="password" th:field="*{password}" placeholder="비밀번호를 입력하세요"
                 class="input input-bordered w-full max-w-xs" required>
        </label>

        <!-- 비밀번호 확인 -->
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">비밀번호 확인</span>
          </div>
          <input type="password" id="passwordConfirm" name="passwordConfirm" th:field="*{passwordConfirm}"
                 placeholder="비밀번호를 다시 입력하세요" class="input input-bordered w-full max-w-xs" required>
          <p id="passwordCheck"></p>
        </label>

        <!-- 회원가입 버튼 -->
        <div class="form-control mt-6">
          <button type="submit" id="submitButton" class="btn btn-primary">회원가입</button>
        </div>
      </form>
    </div>
  </div>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      const idCheck = document.getElementById('idCheck');
      const password = document.getElementById('password');
      const confirmPassword = document.getElementById('passwordConfirm');
      const passwordMessage = document.getElementById('passwordCheck');
      const submitButton = document.getElementById('submitButton');

      /*비밀번호 일치 여부체크 시작
      * 비밀번호가 서로 일치하면 버튼 enable
      * 비밀번호가 서로 일치하지않으면 disable
      * */
      confirmPassword.addEventListener('input', () => {
        if (password.value.trim() === "") {
          passwordMessage.textContent = "";
          return; //패스워드를 입력하지 않으면 텍스트가 표시 되지않는다.
        }
        if (confirmPassword.value === "") {
          passwordMessage.textContent = "";
          return; //패스워드를 입력하지 않으면 텍스트가 표시 되지않는다.
        }
        if (confirmPassword.value === password.value) {
          passwordMessage.textContent = "비밀번호가 일치합니다.";
          passwordMessage.style.color = "green";
          submitButton.disabled = false;

        } else {
          passwordMessage.textContent = "비밀번호가 일치하지 않습니다.";
          passwordMessage.style.color = "red";
          submitButton.disabled = true;
        }
      });
      // 비밀번호 체크 끝

      // emailCheck 가 텍스트가 적혀있으면 "공백으로는 이메일을 전송할수없습니다." 라는 텍스트를 숨긴다
      $('#email').on('input' , function (){
            if ($('#emailCheck') !== '') {
                $('#emailBlankMassage').hide();
            }
      });
      //이메일 인증번호 전송 시작
      $('#emailSend').on('click', function () {
        const csrfToken = $('meta[name="_csrf"]').attr('content'); //csrf Token
        const csrfHeader = $('meta[name="_csrf_header"]').attr('content'); //csrf Token
        const email = $('#email').val().trim();
        if (email === '') {
            $('#emailBlankMassage').text('공백으로는 이메일을 전송할수없습니다.').show();
          return;
        }
        $.ajax({
          type: 'POST',
          url: '/api/member/mailSend',
          contentType: 'application/json',
          data: JSON.stringify({email: email}),
          beforeSend: function (xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken); // CSRF 헤더 설정
          },
          success: function (data) {
            console.log(data);
            if (data) {
              alert("인증코드를 전송하였습니다. 이메일을확인해주세요.")
            }
          },
          error: function () {
            alert("이메일 전송이실패하였습니다.")
          }
        });
      });
      //끝

    </script>
  </th:block>
</div>
</html>