<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="card w-96 bg-white shadow-xl">
        <div class="card-body">
            <h2 class="text-center text-2xl font-bold mb-4">회원가입</h2>
            <form th:action="@{/member/signup}" th:object="${memberJoinRequest}" th:method="post">

                <!-- 아이디 -->
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">아이디</span>
                    </div>
                    <div class="flex">
                    <input type="text" id="loginId" th:field="*{loginId}" placeholder="아이디를 입력하세요"
                           class="input input-bordered w-full max-w-xs mr-1" required>
                    <button class="btn btn-active" onclick="loginIdCheck()">중복검사</button>
                    </div>
                    <p id="idCheckMessage"></p>
                </label>

                <!-- 이름 -->
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">이름</span>
                    </div>
                    <input type="text" id="name" th:field="*{name}" placeholder="이름을 입력하세요" class="input input-bordered w-full max-w-xs"
                           required>
                </label>

                <!-- 핸드폰번호 -->
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">핸드폰번호</span>
                    </div>
                    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="핸드폰번호를 입력하세요"
                           class="input input-bordered w-full max-w-xs" required>
                </label>

                <!-- 이메일 -->
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">이메일</span>
                    </div>
                    <div style="display: flex">
                    <input type="email" id="email" th:field="*{email}" placeholder="이메일을 입력해주세요"
                           class="input input-bordered w-full max-w-xs mr-1" required>
                        <button class="btn btn-active">중복검사</button>
                    </div>
                </label>

                <!-- 비밀번호 -->
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">비밀번호</span>
                    </div>
                    <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요"
                           class="input input-bordered w-full max-w-xs" required>
                </label>

                <!-- 비밀번호 확인 -->
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">비밀번호 확인</span>
                    </div>
                    <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}"
                           placeholder="비밀번호를 다시 입력하세요" class="input input-bordered w-full max-w-xs" required>
                    <p id="message"></p>
                </label>

                <!-- 회원가입 버튼 -->
                <div class="form-control mt-6">
                    <button type="submit" id="submitButton" class="btn btn-primary">회원가입</button>
                </div>

            </form>
        </div>
    </div>
    <th:block layout:fragment="script">
    <script th:inline="javascript">
        /*비밀번호 일치 여부체크
        * 비밀번호가 서로 일치하면 버튼 enable
        * 비밀번호가 서로 일치하지않으면 disable
        * */
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('passwordConfirm');
        const message = document.getElementById('message');
        const submitButton = document.getElementById('submitButton');

        confirmPassword.addEventListener('input', () => {
            if (confirmPassword.value === "") {
                message.textContent = "";
                return;
            }
            if (confirmPassword.value === password.value) {
                message.textContent = "비밀번호가 일치합니다.";
                message.style.color = "green";
                submitButton.disabled = false;

            } else {
                message.textContent = "비밀번호가 일치하지 않습니다.";
                message.style.color = "red";
                submitButton.disabled = true;
            }
        });
        // 여기까지 비밀번호 체크

        // 아이디중복확인 시작
        function loginIdCheck() {
            const csrfToken = $('meta[name="_csrf"]').attr('content'); // CSRF 토큰 값
            const csrfHeader = $('meta[name="_csrf_header"]').attr('content'); // CSRF 헤더 이름
            const loginId = $('#loginId').val().trim();
            if (loginId === "") {
                $('#idCheckMessage').text('아이디를 입력해주세요.');
                document.getElementById("idCheckMessage").style.color = 'red';
                return;
            }
            $.ajax({
                type: 'POST',
                url: "/member/loginIdCheck", //Controller 주소
                contentType: 'application/json', // JSON 데이터로 전송
                data: JSON.stringify({loginId : loginId }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken); // CSRF 헤더 설정
                },
                success: function (response) {
                    console.log(response);
                    if(response.availability){
                        $("#idCheckMessage").text('이미 사용중인 아이디입니다');
                        document.getElementById("idCheckMessage").style.color = 'red';
                        submitButton.disabled = true;
                    }else{
                        document.getElementById("idCheckMessage").style.color = 'green';
                        $("#idCheckMessage").text('사용 가능한 아이디입니다');
                        submitButton.disabled = false;
                    }
                },
                error: function () {
                    alert("API 요청실패");
                }
            });
            // 아이디중복확인 끝
        }
    </script>
    </th:block>
</div>
</html>