@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.show-password {
  display: flex;
  margin-top: 3%;
  margin-left: auto;
}
.checkbox {
  margin-right: 5px;
  width: 18px; /* 체크박스 너비 */
  height: 18px; /* 체크박스 높이 */
}
p { /*에러폰트*/
  color: red;
  font-family: 'LeeSeoyun';
}
.input-invalid {
  border: 2px solid red; /* 인풋 필드의 테두리를 빨간색으로 표시 */
}

